---
import { getCollection, CollectionEntry } from 'astro:content';
import { formatBlogPosts } from '../../js/utils';
import MainLayout from '../../layouts/MainLayout.astro';
import ArticleHeader from '../../components/ArticleHeader.astro';
import ArticleFooter from '../../components/ArticleFooter.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const blogEntries = formatBlogPosts(await getCollection('blog'));
let idx: any;
blogEntries.forEach((blogEntry, index) => {
  if (blogEntry.id == entry.id) {
    idx = index;
  }
});
const prevIndex = idx - 1;
const nextIndex = idx + 1;
const title = entry.data.title + ' | Myrstadbloggen';
const description = entry.data.description;
const image = entry.data.image;
const frontmatter = entry.data;
---

<MainLayout {title} {description} {image} {frontmatter}>
  <ArticleHeader entry={entry} />

  <div class="blog-content">
    <div class="divider top"></div>
    <Content />
    <div class="divider bottom"></div>
  </div>
  <ArticleFooter
    entry={entry}
    prev={{
      string: 'Forrige',
      index: prevIndex,
      icon: 'fa-solid:arrow-left',
      side: 'left',
    }}
    next={{
      string: 'Neste',
      index: nextIndex,
      icon: 'fa-solid:arrow-right',
      side: 'right',
    }}
  />
</MainLayout>

<style is:inline>
  .blog-content {
    max-width: 60ch;
    margin-inline: auto;
    font-size: 1.25rem;
  }

  .divider {
    height: 2px;
    widows: 100%;
    background-color: var(--clr-neutral-300);
  }

  .divider.top {
    margin-top: 2rem;
  }
  .divider.bottom {
    margin-bottom: 2rem;
  }

  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    padding-top: 0.3em;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .blog-content h1 {
    font-size: 4rem;
  }
  .blog-content h2 {
    font-size: 2rem;
  }
  .blog-content h3 {
    font-size: 1.5rem;
  }
  .blog-content h4 {
    font-size: 1.25rem;
  }
  .blog-content h5 {
    font-size: 1rem;
  }
  .blog-content h6 {
    font-size: 0.75rem;
  }
  .blog-content img {
    border-radius: 0.5rem;
  }
  .blog-content :not(pre) code {
    font-size: 0.85em;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    padding: 0.2rem 0.3rem;
    margin: -0.2rem 0;
    border-radius: 0.25rem;
    word-break: break-word;
  }
  .blog-content pre {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.85em;
  }
  .blog-content a {
    color: #670ac3;
  }
</style>
