---
import { CollectionEntry } from 'astro:content';
import { Image } from '@astrojs/image/components';
const { entry } = Astro.props;
import { formatDate } from '../js/utils';
import RoundedButton from './RoundedButton.astro';

interface Props {
  entry: CollectionEntry<'blog'>;
}
---

<article>
  <div class="image">
    <a href={`/innlegg/${entry.slug}`}>
      <!-- <img src={entry.data.image.src} alt={entry.data.image.alt} /> -->
      <Image
        src={entry.data.image.src}
        alt={entry.data.image.alt}
        width={750}
        height={500}
        loading="eager"
        format="webp"
      />
    </a>
  </div>
  <div class="content">
    <h2>{entry.data.title}</h2>
    <p>{entry.data.description}</p>
    <div class="buttons">
      <RoundedButton
        style="secondary"
        text="Les nå"
        href={`/innlegg/${entry.slug}`}
      />
      <RoundedButton
        style="primary"
        text={formatDate(entry.data.date)}
        icon={{
          name: 'mdi:clock',
          side: 'left',
        }}
      />
    </div>
  </div>
</article>

<style>
  article {
    --br: 2rem;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: var(--br);
  }

  img {
    border-radius: var(--br);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    background-color: var(--clr-neutral-200);
    border-radius: var(--br);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    margin: 1em 0;
  }

  .buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 900px) {
    article {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 500px) {
    h2 {
      font-size: 2rem;
      margin-bottom: 0.25em;
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.5em;
    }

    .buttons {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
    }
  }
</style>
