---
import { CollectionEntry } from 'astro:content';
import RoundedButton from './RoundedButton.astro';
const { entry } = Astro.props;

interface Props {
  entry: CollectionEntry<'blog'>;
}
---

<article>
  <div class="image">
    <a href={`/innlegg/${entry.slug}`}>
      <img
        src={entry.data.image.src}
        alt={entry.data.image.alt}
        loading="lazy"
      />
    </a>
  </div>
  <div class="content">
    <div class="text">
      <h3>{entry.data.title}</h3>
      <p>{entry.data.description}</p>
    </div>
    <RoundedButton
      style="primary"
      text="Les innlegget"
      href={`/innlegg/${entry.slug}`}
    />
  </div>
</article>

<style>
  article {
    --br: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 26rem;
    margin-inline: auto;
  }

  img {
    border-radius: var(--br);
    width: 100%;
    object-fit: cover;
  }
  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }
  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
  }
</style>
