---
import Seo from './Seo.astro';

interface Props {
  description?: string;
  title?: string;
  image?: string;
  frontmatter?: any;
  robots?: true | false;
}

const { description, title, image, frontmatter, robots } = Astro.props as Props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="theme-color" content="#051a33" />

<Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- PWA -->
<link rel="manifest" href="/.webmanifest" />
