---
import Seo from './Seo.astro';

interface Props {
  description?: string;
  title?: string;
  image?: string;
  frontmatter?: any;
  robots?: true | false;
}

const { description, title, image, frontmatter, robots } = Astro.props as Props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="sitemap" href="/sitemap-index.xml" />

<Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:wght@500;700&display=swap"
  rel="stylesheet"
/>
