---
import { Icon } from 'astro-icon';

const path = Astro.url.pathname;
const fullPath = 'blog.mortenmyrstad.no<br/>' + path;
const fullURL = 'https://blog.mortenmyrstad.no' + path;
---

<div class="shareModal">
  <button role="dialog" class="dialog">
    <Icon name="fa-solid:share-square" />
  </button>
  <div class="overlay">
    <div class="card">
      <div class="header">
        <h2>Del innlegget</h2>
        <button aria-label="lukk dialogen" class="close">
          <Icon name="ph:x-bold" />
        </button>
      </div>
      <div class="share-icon">
        <p>Del via</p>
        <div class="icons">
          <a
            href={`https://www.facebook.com/sharer.php?u=${fullURL}`}
            target="_blank"
            class="icon"
          >
            <Icon name="fa-brands:facebook" />
          </a>
          <a
            href={`https://twitter.com/intent/tweet?url=${fullURL}`}
            target="_blank"
            class="icon"
          >
            <Icon name="fa-brands:twitter" />
          </a>
          <a
            href={`https://www.linkedin.com/shareArticle?mini=true&url=${fullURL}`}
            target="_blank"
            class="icon"
          >
            <Icon name="fa-brands:linkedin" />
          </a>
        </div>
      </div>
      <div class="copy-link">
        <p>Eller kopier lenke</p>
        <div class="copy">
          <Icon name="mdi:link-variant" />
          <span class="link" set:html={fullPath} />
          <button data-url={fullURL}>Kopier</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  button {
    border: none;
    outline: none;
    padding: 0;
  }
  button.dialog {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 1.5rem;
    background-color: var(--clr-neutral-700);
  }

  .dialog svg {
    display: block;
    color: var(--clr-neutral-100);
    height: 1.5rem;
    width: 1.5rem;
  }

  .overlay {
    display: none;
  }

  .overlay.visible {
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: #b5c1ce7f;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
  }

  .card {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
    max-width: min(calc(100vw - 2rem), 27rem);
  }

  .card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-neutral-500);
  }
  .header h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }
  .header button {
    background-color: var(--clr-neutral-100);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    display: grid;
    place-items: center;
  }
  .header svg {
    width: 1rem;
    height: 1rem;
    color: var(--clr-neutral-700);
  }

  p {
    font-size: 0.875rem;
  }
  .icons {
    display: flex;
    gap: 1.5rem;
  }

  .icons .icon {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border: 2px solid var(--clr-neutral-400);
    border-radius: 0.5rem;
    fill: var(--clr-neutral-100);
    color: var(--clr-neutral-100);
  }

  .icon svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .copy {
    border: 2px solid var(--clr-neutral-400);
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    padding-left: 0.5rem;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .copy svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
  }
  .copy span {
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .copy button {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
    border-radius: 0.125rem;
    padding-inline: 0.75rem;
    padding-block: 0;
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    font-size: 0.875rem;
    font-weight: 600;
  }

  @media screen and (max-width: 400px) {
    .header h2 {
      font-size: 1.5rem;
    }

    .copy {
      padding: 0.25rem;
      padding-left: 0.5rem;
      gap: 1rem;
    }

    .copy span {
      display: none;
    }

    .copy button {
      all: unset;
      position: relative;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      border-radius: 0.125rem;
      padding-inline: 0.75rem;
      background-color: var(--clr-neutral-200);
      color: var(--clr-neutral-800);
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
</style>

<script>
  const button = document.querySelector('.shareModal button') as HTMLElement;
  const modal = document.querySelector('.shareModal .overlay') as HTMLElement;
  const cardEl = document.querySelector('.shareModal .card') as HTMLElement;
  const closeButton = document.querySelector('.overlay .close') as HTMLElement;
  const copyButton = document.querySelector(
    '.overlay .copy button'
  ) as HTMLElement;

  button?.addEventListener('click', () => {
    modal?.classList.toggle('visible');
  });

  modal.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    if (!cardEl.contains(target)) {
      modal?.classList.toggle('visible');
    }
  });

  closeButton.addEventListener('click', () => {
    modal.classList.toggle('visible');
  });

  copyButton?.addEventListener('click', () => {
    const text = copyButton.getAttribute('data-url') ?? '';
    navigator.clipboard.writeText(text);
    setTimeout(() => {
      copyButton.innerText = 'Kopier';
    }, 1000);
    copyButton.innerText = 'Kopiert';
  });
</script>
