---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
console.log(posts);
---

<MainLayout>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <article>
          <h3>{post.data.title}</h3>
          <p> {post.data.description} </p>
          <a href={`/innlegg/${post.slug}`}>{post.data.title}</a>
        </article>
      ))
    }
  </ul>
</MainLayout>
