---
//components
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
//css
import '../css/global.css';
import Breadcrumbs from '../components/Breadcrumbs.astro';
//props
interface Props {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: any;
  robots?: true;
}

const {
  title = 'Myrstadbloggen',
  description = 'En personlig blogg som har innlegg om mye informasjonsrelatert',
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="no">
  <head>
    <MainHead {title} {description} {image} {frontmatter} {robots} />
    <!-- Heapanalytics -->
    <script type="text/javascript">
      (window.heap = window.heap || []),
        (heap.load = function (e, t) {
          (window.heap.appid = e), (window.heap.config = t = t || {});
          var r = document.createElement('script');
          (r.type = 'text/javascript'),
            (r.async = !0),
            (r.src = 'https://cdn.heapanalytics.com/js/heap-' + e + '.js');
          var a = document.getElementsByTagName('script')[0];
          a.parentNode.insertBefore(r, a);
          for (
            var n = function (e) {
                return function () {
                  heap.push(
                    [e].concat(Array.prototype.slice.call(arguments, 0))
                  );
                };
              },
              p = [
                'addEventProperties',
                'addUserProperties',
                'clearEventProperties',
                'identify',
                'resetIdentity',
                'removeEventProperty',
                'setEventProperties',
                'track',
                'unsetEventProperty',
              ],
              o = 0;
            o < p.length;
            o++
          )
            heap[p[o]] = n(p[o]);
        });
      heap.load('4267065919');
    </script>
  </head>

  <body>
    <Navbar />
    <Breadcrumbs />
    <main>
      <div class="wrapper">
        <slot> Tekniske problemer</slot>
      </div>
    </main>
    <Footer />
    <style>
      main {
        padding: 0 1rem;
      }

      .wrapper {
        max-width: 82rem;
        margin-inline: auto;
      }
    </style>
  </body>
</html>
