---
//components
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
//css
import '../css/global.css';
import Breadcrumbs from '../components/Breadcrumbs.astro';
//props
interface Props {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: any;
  robots?: true;
}

const {
  title = 'Myrstadbloggen',
  description = 'En personlig blogg som har innlegg om mye informasjonsrelatert',
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="no">
  <head>
    <MainHead {title} {description} {image} {frontmatter} {robots} />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J49RXP5CQY"
    ></script><script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-J49RXP5CQY');
    </script></head
  >

  <body>
    <Navbar />
    <Breadcrumbs />
    <main>
      <div class="wrapper">
        <slot> Tekniske problemer</slot>
      </div>
    </main>
    <Footer />
    <style>
      main {
        padding: 0 1rem;
      }

      .wrapper {
        max-width: 82rem;
        margin-inline: auto;
      }
    </style>
  </body>
</html>
