---
//components
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
//css
import '../css/global.css';
import Breadcrumbs from '../components/Breadcrumbs.astro';
//props
interface Props {
  title?: string;
  description?: string;
  image?: string;
  frontmatter?: any;
  robots?: true;
}

const {
  title = 'Myrstadbloggen',
  description = 'En personlig blogg som har innlegg om mye informasjonsrelatert',
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="no">
  <head>
    <MainHead {title} {description} {image} {frontmatter} {robots} />
  </head>

  <body>
    <Navbar />
    <Breadcrumbs />
    <main>
      <div class="wrapper">
        <slot> Tekniske problemer</slot>
      </div>
    </main>
    <Footer />
    <script>
      document.addEventListener('visibilitychange', () => {
        let state = document.visiblityState;
        console.log(document.visibilityState);
      });
    </script>
    <style>
      main {
        padding: 0 1rem;
      }

      .wrapper {
        max-width: 82rem;
        margin-inline: auto;
      }
    </style>
  </body>
</html>
